* {
	box-shadow: border-box;	
	margin: 0;
	padding: 0;
}

body {
		text-shadow: 1px 1px 15px #000000;
		font-family: 'Raleway', sans-serif; 
		background: linear-gradient(
			rgba(255,0,0,0),
			rgba(255,0,0,1)
		),url(https://dikxrpw3rdepo.cloudfront.net/wp-content/uploads/2017/01/tbs2_ost_interior_1920x1080.png)
		;

		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;		
}

.container {
	display: flex;
	align-items: center;
	width: 75%;
}

.overview{
		padding: 3rem;
}

.fullname {
	color: #ff0000;
	font-weight: 2000;
	letter-spacing: 3px;
	margin-bottom: .5rem;
}

.job-title {
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

.description{
	color: #ffffff;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

hr {
	width: 5rem;
	border: none;
	height: 2px;
	background-color: #00BCD4;
	margin: 1.5rem 0;
}

a {
	color: #9af1fc;
	text-decoration: none;
}

.works {
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.works h2 {
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
	color: #ffc107;
}

.works img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.social-media a {
	color: #efefef;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.social-media a:hover {
	opacity: 1;
}

.ad {
	margin: .5rem;
	font-size: 1rem;
}

.image-container {
	width: 100%;
	padding: 3rem;
}

.image-container img{
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	display: block;
}